.profile__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding-top: 16px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}

@media (max-width: 935px) {
    .profile__subtitle {
        max-width: 335px;
    }
}

@media (max-width: 630px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        padding-top: 5px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .profile__subtitle {
        max-width: 220px;
    }
}